body {
    font-family: 'Roboto';
    display: flex;
    flex-direction: column;
    margin: 0;
}

.header {
    display: flex;
    padding: 16px 175px 16px 175px;
    justify-content: space-between;
    align-items: center;
    background-color: #151c2f;
}

.logo {
    flex: 1;
    color: #f9faf8;
    font-size: 24px;
    font-weight: bold;
}

.header ul {
    display: flex;
    gap: 32px;
    padding: 0;
    margin: 0;
}

.header ul li {

    list-style-type: none;
}

.header ul li a {
    color: #e5e7eb;
    font-size: 18px;
    text-decoration: none;
    font-weight: 500;
}

.hero {
    background-color: #151c2f;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 32px 0 32px;
}

.left-hero h1 {
    color: #f9faf8;
    font-size: 48px;
    font-weight: 900;
}

.left-hero {
    color: #e5e7eb;
    font-size: 18px;
    width: 700px;
}

.right-hero {
    width: 300px;
    display: flex;
    justify-content: center;
}

.right-hero img {
    height: auto;
    width: 200px;
}

.signup-btn-blue {
    color: white;
    font-size: 16px;
    font-weight: 600;
    background-color: #87a9f0;
    border: 0;
    padding: 12px 32px 12px;
    text-align: center;
    border-radius: 12px;
}

.card-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 48px;
    gap: 48px;
}

.card-title {
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
}

.card-container {
    display: flex;
    gap: 32px;

}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    border: #87a9f0 5px solid;
    border-radius: 12px;
    width: 150px;
    height: 150px;

}

.card img {
    height: auto;
    width: 100px;
}

.quote-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #e5e7eb;
    color: #151c2f;
    padding: 80px 0 80px;
}

.quote-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 700px;
}

.quote {
    font-size: 32px;
    font-weight: 100;
    font-style: italic;

}

.quote-author {
    align-self: flex-end;
    font-size: 32px;
    font-weight: 800;
}