body {
    font-family: 'Roboto';
    display: flex;
    flex-direction: column;
    margin: 0;
}

.header {
    display: flex;
    padding: 16px 175px 16px 175px;
    justify-content: space-between;
    align-items: center;
    background-color: #151c2f;
}

.logo {
    flex: 1;
    color: #f9faf8;
    font-size: 24px;
    font-weight: bold;
}

.header ul {
    display: flex;
    gap: 32px;
    padding: 0;
    margin: 0;
}

.header ul li {

    list-style-type: none;
}

.header ul li a {
    color: #e5e7eb;
    font-size: 18px;
    text-decoration: none;
    font-weight: 500;
}

.hero {
    background-color: #151c2f;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 32px 0 32px;
}

.left-hero h1 {
    color: #f9faf8;
    font-size: 48px;
    font-weight: 900;
}
.left-hero {
    color: #e5e7eb;
    font-size: 18px;
    width: 700px;
}

.right-hero {
    width: 300px;
    display: flex;
    justify-content: center;
}

.right-hero img {
    height: auto;
    width: 200px;
}

.signup-btn-blue {
    color: white;
    font-size: 16px;
    font-weight: 600;
    background-color: #87a9f0;
    border: 0;
    padding: 12px 32px 12px;
    text-align: center;
    border-radius: 12px;
}